.fav {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 20px;
    }

    .favWrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: start;
    }
}
